################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmpApi/config
/.vs/EmpApi/v16
/packages
